/* The actual badge style */

#feedback-badge {
	display:none;
	background: url('feedback_badge.png') no-repeat;
	width:62px;
	height: 124px;
	margin-left:-25px;
}

#feedback-badge:hover {
	margin-left:-23px;
}

#feedback-badge:active {
	margin-left:-27px;
}

#feedback-badge span {
	display: none;
}


/* The floating div */

#popup {
	position:absolute;
	margin-top:15%;
	margin-left:30%;
	background: #fff;
}